body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 240px 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "nav main";
}


#navbar{
    text-align: center;
    grid-area: nav;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    border-right: 1px solid black;
    width: 1fr;
}
 
#navbar header{
    text-align: center;
    top: 0;
} 

#navbar header a{
    border-top: 1px solid black;
    text-decoration: none;
    color: black;
    display: flex;
    padding: 10px;
}


#main-doc{
    grid-area: main;
    display: flex;
    flex-direction: column;
    margin: 0 2em;
    margin-bottom: 10em;
}

#main-doc .main-section{
    display: flex;
    flex-direction: column;
}

#main-doc .main-section header{
    font-size: 35px;
    margin-top: 1em;
    font-weight: normal;
}

#main-doc .main-section p{
    line-height: 1.5em;
    margin: 10px 2em;
}

#main-doc .main-section ul{
    margin: 0 4em;
}

#main-doc .main-section ul li{
    margin-top: 20px;
}

#main-doc .main-section code{
    line-height: 1.5em;
    padding: 20px;
    margin: 0 4em;
    background-color: #F7F7F7;
    border-radius: 5px;
}

@media (max-width: 700px){
    body{
        display: block;
    }
    #navbar{
        border: none;
        position: relative;
    }
    #navbar header{
        border: 1px solid black;
        height: 200px;
        overflow-y: scroll;
    }


}